<div class="container">
<ul class="back-n-music">
    <li><span class="section-title">Backgrounds</span>
        <ul>
            <li (click)="changeBackground('forest')" [ngClass]="isSelectedBackground('forest')">Forest</li>
            <li (click)="changeBackground('city')" [ngClass]="isSelectedBackground('city')">City</li>
            <li (click)="changeBackground('dangeoun')" [ngClass]="isSelectedBackground('dangeoun')">Dangeoun</li>   
            <li (click)="changeBackground('room')" [ngClass]="isSelectedBackground('room')">Room</li>       
            <li (click)="changeBackground('battle')" [ngClass]="isSelectedBackground('battle')">Battle</li>
            <li (click)="changeBackground('desert')" [ngClass]="isSelectedBackground('desert')">Desert</li>
            <li (click)="changeBackground('darkForest')" [ngClass]="isSelectedBackground('darkForest')">darkForest</li>
        </ul>
    </li>
    <li><span class="section-title">Music</span>
        <ul>
            <li (click)="changeMusic('adventure')" [ngClass]="isSelectedMusic('adventure')">Adventure</li>
            <li (click)="changeMusic('mistery')"  [ngClass]="isSelectedMusic('mistery')">Mistery</li>
            <li (click)="changeMusic('battle')" [ngClass]="isSelectedMusic('battle')">Battle</li>        
       </ul>
    </li>
    <li>
        <button>Add Character</button>
        <input type="checkbox" name="grid" id="grid" [(ngModel)]="settings.grid"> Grid
        <label for="gridHeight" [hidden]="!settings.grid">Height</label>
        <input type="text" name="gridHeight" id="gridHeight" [hidden]="!settings.grid" [(ngModel)]="settings.gridHeight">
        <label for="gridWidth" [hidden]="!settings.grid">Width</label>
        <input type="text" name="gridWidth" id="gridWidth" [hidden]="!settings.grid" [(ngModel)]="settings.gridWidth">
    </li>
</ul>
<div class="list-of-characters">
   <ul>
       <li *ngFor="let character of settings.characters; let i = index">
           <div class="character" (dblclick)="removeCharacter(i)">
                <img [src]="picturePath + character.name" alt="" class="photo">
                <span class="name">
                    <strong>
                        {{character.name}}
                    </strong>
                </span>
                <span id="ac">
                    <strong>AC:</strong> 
                    {{character.ac}}
                </span>
                <span id="hp">
                    <strong>HP</strong>
                    {{character.hp}}
                </span>
           </div>
       </li>
   </ul>
</div>
<div class="characters-selector">
     <ul>
       <li *ngFor="let character of appCharacters">
           <div class="character" (dblclick)="addCharacter(character._id)">
                <img [src]="picturePath + character.name" alt="" class="photo">
                <span class="name">
                    <strong>
                        {{character.name}}
                    </strong>
                </span>
                <span id="ac">
                    <strong>AC:</strong> 
                    {{character.ac}}
                </span>
                <span id="hp">
                    <strong>HP</strong>
                    {{character.hp}}
                </span>
           </div>
       </li>
   </ul>
</div>
<button (click)="changeSettings()" class="left-button">Set Settings</button>
<button (click)="resetSettings()" class="right-button">Reset All</button>
</div>